.container{
    background-color:whitesmoke;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    

    
}

    

.change{
    background-color:   #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    
}
.change:hover{
    background-color: #ccc;
}
.change:active{
    color: black;
    font-family: bold;
    font-size: 15px;
}
.delete{
    background-color:   #ee4b4b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.delete:hover{
    background-color: #ccc;
}
.delete:active{
    color: black;
    font-family: bold;
    font-size: 15px;
}
label{
    display: block;
    margin-top: 5px;
margin-bottom: auto;
    font-weight: bold;

}
input{
    width: 100%;
    padding: 8px;
    margin-bottom: 1px;
    border: 1px solid #ccc;
    box-shadow: azure;
    border-radius: 10px;
}
button{

    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    
}
.pic-placeholder {
    width: 150px;
    height: 150px;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 50%;
}
img{
    width: 150px;
    height: 150px;  
    border-radius: 50%;
    display: flex;
}
.clear, .save{
    background-color: #ffffff;
}
.save:hover{
background-color: #ccc;
}
.save:active{
color:black;
font-family: bold;
    font-size: 15px;
}
.clear:hover{
    background-color: #ccc;
    }
    .clear:active{
    color:black;
    font-family: bold;
        font-size: 15px;
    }
    

    