body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.slider-container {
    text-align: center;
    width: 200px;
}

.slider {
    width: 100%;
    margin: 10px 0;
    background-color: brown;
}
